:root {
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 98%);
  --background-info: hsl(0, 0%, 52%);
  --text-primary: hsl(200, 15%, 8%);
  --text-secondary: hsl(207, 26%, 17%);
  --text-info: hsl(209, 23%, 22%);
  --color-blur: #00000027;
}
/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-primary: hsl(209, 23%, 22%);
  --background-secondary: hsl(207, 26%, 17%);
  --background-info: hsl(200, 15%, 8%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 98%);
  --text-info: hsl(0, 0%, 52%);
  --color-blur: #00000027;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-secondary);
  font-family: "Nunito Sans", sans-serif;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  width: 4rem;
  height: 4rem;
  background-color: var(--text-secondary);
}

.cursor-pointer {
  cursor: pointer;
}
